name: Build Geode Mod (Windows)

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Geode build environment
        uses: geode-sdk/build-geode-mod@main
        with:
          platform: win
